<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head"></head>
<head><title> HOME | GIỚI THIỆU </title></head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="south-load"></div>
</div>
<!-- ##### Header Area Start ##### -->
<header th:replace="layout :: header"></header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img" style="background-image: url(/images/bg-img/hero1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">Giới thiệu</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Content Wrapper Start ##### -->
<section class="about-content-wrapper section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                    <h2>Luôn mang đến những không gian hoàn hảo!</h2>
                    <!--<p>Hãy xem chúng tôi có gì cho bạn!</p>-->
                </div>
                <div class="about-content">
                    <img class="wow fadeInUp" data-wow-delay="350ms" src="/images/bg-img/about.jpg" alt="">
                    <p class="wow fadeInUp" data-wow-delay="450ms">Boarding-House là phần mềm quản lý khu trọ giúp cho người chủ nhà trọ dễ dàng nắm bắt mọi thông tin, điều phối hoạt động dễ dàng, đồng thời tăng hiệu suất làm việc, các dịch vụ, chỉ số điện, nước, gas, tiền phòng được thực hiện chính xác, tránh những sai sót không đáng có. Bên cạnh đó, nó còn hỗ trợ cho khách thuê trọ có thể theo dõi thông tin phòng, các chí phí phải trả hàng tháng,...Từ đó nâng cao chất lượng, dịch vụ nhà trọ, đem lại sự tiện ích cho cả người quản lý khu trọ và khách thuê trọ.</p>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                    <h2>Featured Properties</h2>
                    <p>Hãy xem chúng tôi có gì cho bạn!</p>
                </div>

                <div class="featured-properties-slides owl-carousel" >
                    <!-- Single Slide -->
                    <div class="single-featured-property" th:each="room : ${rooms}">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img th:src="${room.image}" alt="">

                            <div class="tag">
                                <span th:if="${room.isSaled} == '1'">For Sale</span>
                            </div>
                            <div class="list-price">
                                <p th:utext="${room.price} + VNĐ"></p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5 th:utext="${room.name}"></h5>
                            <p class="location"><img src="/images/icons/floor.png" alt=""> Tầng <span
                                    th:utext="${room.floor}"></span></p>
                            <p th:utext="${room.description}"></p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">
                                    <img src="/images/icons/people.png" alt="">
                                    <span th:utext="${room.recommend}"></span>
                                </div>
                                <div class="bathroom">
                                    <img src="/images/icons/bathtub.png" alt="">
                                    <span th:utext="${room.bathroom}"></span>
                                </div>
                                <div class="garage">
                                    <img src="/images/icons/window.png" alt="">
                                    <span th:utext="${room.window}"></span>
                                </div>
                                <div class="space">
                                    <img src="/images/icons/square.png" alt="">
                                    <span th:utext="${room.square} + m2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### About Content Wrapper End ##### -->

<!-- ##### Call To Action Area Start ##### -->
<section class="call-to-action-area bg-fixed bg-overlay-black" style="background-image: url(/images/bg-img/cta.jpg)">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12">
                <div class="cta-content text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="300ms">Bạn đang tìm kiếm một nhà trọ tuyệt vời?</h2>
                    <h6 class="wow fadeInUp" data-wow-delay="400ms">Hãy để chúng tôi giúp bạn</h6>
                    <a href="#" class="btn south-btn mt-50 wow fadeInUp" data-wow-delay="500ms">Search</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Call To Action Area End ##### -->

<!-- ##### Meet The Team Area Start ##### -->
<section class="meet-the-team-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Meet The Team</h2>
                    <p>Suspendisse dictum enim sit amet libero</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="250ms">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/images/bg-img/team1.jpg" alt="">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info">
                        <div class="section-heading">
                            <img src="/images/icons/prize.png" alt="">
                            <h2>Đặng Đình Tài</h2>
                            <p>Leader</p>
                        </div>
                        <div class="address">
                            <h6><img src="/images/icons/phone-call.png" alt=""> +45 677 8993000 223</h6>
                            <h6><img src="/images/icons/envelope.png" alt=""> dinhtai@gmail.com</h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="750ms">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/images/bg-img/team3.jpg" alt="">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info">
                        <div class="section-heading">
                            <img src="/images/icons/prize.png" alt="">
                            <h2>Nguyễn Thị Hà</h2>
                            <p>Thành viên</p>
                        </div>
                        <div class="address">
                            <h6><img src="/images/icons/phone-call.png" alt=""> +45 677 8993000 223</h6>
                            <h6><img src="/images/icons/envelope.png" alt=""> nguyenha@gmail.com</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="750ms">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/images/bg-img/team4.jpg" alt="">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info">
                        <div class="section-heading">
                            <img src="/images/icons/prize.png" alt="">
                            <h2>Nguyễn T.K Trang</h2>
                            <p>Thành viên</p>
                        </div>
                        <div class="address">
                            <h6><img src="/images/icons/phone-call.png" alt=""> +45 677 8993000 223</h6>
                            <h6><img src="/images/icons/envelope.png" alt=""> kieutrang@gmail.com</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/images/bg-img/team2.jpg" alt="">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info">
                        <div class="section-heading">
                            <img src="/images/icons/prize.png" alt="">
                            <h2>Vũ Hữu Sơn</h2>
                            <p>Thành viên</p>
                        </div>
                        <div class="address">
                            <h6><img src="/images/icons/phone-call.png" alt=""> +45 677 8993000 223</h6>
                            <h6><img src="/images/icons/envelope.png" alt=""> huuson@gmail.com</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Meet The Team Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer th:replace="layout :: footer"></footer>
<!-- ##### Footer Area End ##### -->

<div th:replace="layout :: js"></div>
</body>
</html>