<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head"></head>
<head><title> HOME | BLOG </title><script type='text/javascript'>
    //<![CDATA[
    var pictureSrc ="http://2.bp.blogspot.com/-IQXNv-_CBLE/TpWcK7LL4VI/AAAAAAAAG0I/bcxYcqc_uI0/pinkpetal1.png"; //the location of the snowflakes
    var pictureWidth = 20; //the width of the snowflakes
    var pictureHeight = 20; //the height of the snowflakes
    var numFlakes = 20; //the number of snowflakes
    var downSpeed = 0.01; //the falling speed of snowflakes (portion of screen per 100 ms)
    var lrFlakes = 10; //the speed that the snowflakes should swing from side to side


    if( typeof( numFlakes ) != 'number' || Math.round( numFlakes ) != numFlakes || numFlakes < 1 ) { numFlakes = 10; }

    //draw the snowflakes
    for( var x = 0; x < numFlakes; x++ ) {
        if( document.layers ) { //releave NS4 bug
            document.write('<layer id="snFlkDiv'+x+'"><imgsrc="'+pictureSrc+'" height="'+pictureHeight+'"width="'+pictureWidth+'" alt="*" border="0"></layer>');
        } else {
            document.write('<div style="position:absolute; z-index:9999;"id="snFlkDiv'+x+'"><img src="'+pictureSrc+'"height="'+pictureHeight+'" width="'+pictureWidth+'" alt="*"border="0"></div>');
        }
    }

    //calculate initial positions (in portions of browser window size)
    var xcoords = new Array(), ycoords = new Array(), snFlkTemp;
    for( var x = 0; x < numFlakes; x++ ) {
        xcoords[x] = ( x + 1 ) / ( numFlakes + 1 );
        do { snFlkTemp = Math.round( ( numFlakes - 1 ) * Math.random() );
        } while( typeof( ycoords[snFlkTemp] ) == 'number' );
        ycoords[snFlkTemp] = x / numFlakes;
    }

    //now animate
    function flakeFall() {
        if( !getRefToDivNest('snFlkDiv0') ) { return; }
        var scrWidth = 0, scrHeight = 0, scrollHeight = 0, scrollWidth = 0;
        //find screen settings for all variations. doing this every time allows for resizing and scrolling
        if( typeof( window.innerWidth ) == 'number' ) { scrWidth = window.innerWidth; scrHeight = window.innerHeight; } else {
            if( document.documentElement && (document.documentElement.clientWidth ||document.documentElement.clientHeight ) ) {
                scrWidth = document.documentElement.clientWidth; scrHeight = document.documentElement.clientHeight; } else {
                if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
                    scrWidth = document.body.clientWidth; scrHeight = document.body.clientHeight; } } }
        if( typeof( window.pageYOffset ) == 'number' ) { scrollHeight = pageYOffset; scrollWidth = pageXOffset; } else {
            if( document.body && ( document.body.scrollLeft ||document.body.scrollTop ) ) { scrollHeight = document.body.scrollTop;scrollWidth = document.body.scrollLeft; } else {
                if(document.documentElement && (document.documentElement.scrollLeft ||document.documentElement.scrollTop ) ) { scrollHeight =document.documentElement.scrollTop; scrollWidth =document.documentElement.scrollLeft; } }
        }
        //move the snowflakes to their new position
        for( var x = 0; x < numFlakes; x++ ) {
            if( ycoords[x] * scrHeight > scrHeight - pictureHeight ) { ycoords[x] = 0; }
            var divRef = getRefToDivNest('snFlkDiv'+x); if( !divRef ) { return; }
            if( divRef.style ) { divRef = divRef.style; } var oPix = document.childNodes ? 'px' : 0;
            divRef.top = ( Math.round( ycoords[x] * scrHeight ) + scrollHeight ) + oPix;
            divRef.left = ( Math.round( ( ( xcoords[x] * scrWidth ) - (pictureWidth / 2 ) ) + ( ( scrWidth / ( ( numFlakes + 1 ) * 4 ) ) * (Math.sin( lrFlakes * ycoords[x] ) - Math.sin( 3 * lrFlakes * ycoords[x]) ) ) ) + scrollWidth ) + oPix;
            ycoords[x] += downSpeed;
        }
    }

    //DHTML handlers
    function getRefToDivNest(divName) {
        if( document.layers ) { return document.layers[divName]; } //NS4
        if( document[divName] ) { return document[divName]; } //NS4 also
        if( document.getElementById ) { return document.getElementById(divName); } //DOM (IE5+, NS6+, Mozilla0.9+, Opera)
        if( document.all ) { return document.all[divName]; } //Proprietary DOM - IE4
        return false;
    }

    window.setInterval('flakeFall();',100);
    //]]>
</script></head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="south-load"></div>
</div>
<!-- ##### Header Area Start ##### -->
<header th:replace="layout :: header"></header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section th:replace="layout :: Breadcumb"></section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<section class="south-blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">

                <!-- Single Blog Area -->
                <th:block th:unless="${#lists.isEmpty(posts.pageList)}">
                    <th:block th:each="post : ${posts.pageList}">
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail">
                            <!--<img src="/blog-/images/blog1.jpg" alt="">-->
                            <img th:src=${post.post.image}/>
                        </div>
                        <div class="post-content">
                            <!-- Date -->
                            <div class="post-date">
                                <a href="#" th:text="${post.post.dateCreated}"></a>
                            </div>
                            <!-- Headline -->
                            <a href="#" class="headline" th:text="${post.post.title}"></a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>By <a href="#" th:utext="${post.post.createdBy}"></a> | in <a
                                        href="#" th:utext="${post.post.topic.name}"></a> | <a
                                        href="#" th:text="${post.numberOfComment} + Comments"></a></p>
                            </div>
                            <p th:with="summary = ${post.post.content}" th:text="${#strings.substring(summary,0,200) + '...'}"></p>
                            <!-- Read More btn -->
                            <!--<a th:href="@{/blog/post (id=${post.post.id}) }" class="btn south-btn" style="margin-bottom: 40px">Read More</a>-->
                            <a th:href="@{/blog/post/{id}(id=${post.post.id})}" class="btn south-btn"
                               style="margin-bottom: 40px">Read More</a>
                        </div>
                    </th:block>
                </th:block>

                <th:block th:if="${#lists.isEmpty(posts.pageList)} == true">
                    <h3>Không có bài đăng nào</h3>
                </th:block>

            </div>
            <div class="col-12 col-lg-4">
                <div th:replace="layout :: blog_sidebar"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Pagination -->
                <div class="south-pagination mt-100 d-flex">
                    <nav aria-label="Page navigation">
                        <!-- Pagination -->
                        <ul class="pagination">
                            <li
                                    th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
                                <a class="page-link" th:href="@{/blog}">First</a>
                            </li>
                            <li
                                    th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
                                <a class="page-link" aria-label="Previous"
                                   th:href="@{|${baseUrl}${currentIndex - 1}|}"
                                   title='Go to previous page'><span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span></a>
                            </li>
                            <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                                th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
                                <a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
                                        th:text='${item}'>1</span>
                                </a>
                            </li>
                            <li
                                    th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
                                <a class="page-link" aria-label="Next"
                                   th:href="@{|${baseUrl}${currentIndex + 1}|}" title='Go to next page'><span
                                        aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
                            </li>
                            <li
                                    th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
                                <a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ##### Blog Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer th:replace="layout :: footer"></footer>
<!-- ##### Footer Area End ##### -->

<div th:replace="layout :: js"></div>
</body>
</html>