<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head"></head>
<head><title> HOME | BLOG </title></head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="south-load"></div>
</div>
<!-- ##### Header Area Start ##### -->
<header th:replace="layout :: header"></header>
<!-- ##### Header Area End ##### -->


<!-- ##### Hero Area Start ##### -->
<section th:replace="layout :: hero_area"></section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<section class="south-blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">

                <!-- Single Blog Area -->
                <th:block th:unless="${#lists.isEmpty(posts.pageList)}">
                    <th:block th:each="post : ${posts.pageList}">
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail">
                            <!--<img src="/blog-/images/blog1.jpg" alt="">-->
                            <img th:src=${post.post.image}/>
                        </div>
                        <div class="post-content">
                            <!-- Date -->
                            <div class="post-date">
                                <a href="#" th:text="${post.post.dateCreated}"></a>
                            </div>
                            <!-- Headline -->
                            <a href="#" class="headline" th:text="${post.post.title}"></a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>By <a href="#" th:utext="${post.post.createdBy}"></a> | in <a
                                        href="#" th:utext="${post.post.topic.name}"></a> | <a
                                        href="#" th:text="${post.numberOfComment} + Comments"></a></p>
                            </div>
                            <p th:text="${post.summary}"></p>
                            <!-- Read More btn -->
                            <!--<a th:href="@{/blog/post (id=${post.post.id}) }" class="btn south-btn" style="margin-bottom: 40px">Read More</a>-->
                            <a th:href="@{/blog/post/{id}(id=${post.post.id})}" class="btn south-btn"
                               style="margin-bottom: 40px">Read More</a>
                        </div>
                    </th:block>
                </th:block>

                <th:block th:if="${#lists.isEmpty(posts.pageList)}">
                    <h3>Không có bài đăng nào</h3>
                </th:block>

            </div>
            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">

                    <!-- Search Widget -->
                    <div class="search-widget-area mb-70">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <!-- Catagories Widget -->
                    <div class="south-catagories-card mb-70">
                        <h5>Chủ đề</h5>
                        <ul class="catagories-menu" th:each="topic : ${topics}">
                            <li><a href="#" th:text="${topic.name}"></a></li>
                        </ul>
                    </div>

                    <!-- Catagories Widget -->

                    <!-- Catagories Widget -->
                    <div class="featured-properties-slides owl-carousel">

                        <!-- Single Slide -->
                        <div class="single-featured-property">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/bg-img/feature1.jpg" alt="">

                                <div class="tag">
                                    <span>For Sale</span>
                                </div>
                                <div class="list-price">
                                    <p>$945 679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Villa in Los Angeles</h5>
                                <p class="location"><img src="/images/icons/location.png" alt="">Upper Road 3411, no.34
                                    CA</p>
                                <p>Integer nec bibendum lacus. Suspendisse dictum enim sit amet libero
                                    malesuada.</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">
                                        <img src="/images/icons/new.png" alt="">
                                    </div>
                                    <div class="bathroom">
                                        <img src="/images/icons/bathtub.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="garage">
                                        <img src="/images/icons/garage.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="space">
                                        <img src="/images/icons/space.png" alt="">
                                        <span>120 sq ft</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Slide -->
                        <div class="single-featured-property">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/bg-img/feature2.jpg" alt="">

                                <div class="tag">
                                    <span>For Sale</span>
                                </div>
                                <div class="list-price">
                                    <p>$945 679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Town House in Los Angeles</h5>
                                <p class="location"><img src="/images/icons/location.png" alt="">Upper Road 3411, no.34
                                    CA</p>
                                <p>Integer nec bibendum lacus. Suspendisse dictum enim sit amet libero
                                    malesuada.</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">
                                        <img src="/images/icons/new.png" alt="">
                                    </div>
                                    <div class="bathroom">
                                        <img src="/images/icons/bathtub.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="garage">
                                        <img src="/images/icons/garage.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="space">
                                        <img src="/images/icons/space.png" alt="">
                                        <span>120 sq ft</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Pagination -->
                <div class="south-pagination mt-100 d-flex">
                    <nav aria-label="Page navigation">
                        <!-- <ul class="pagination">
                            <li class="page-item"><a class="page-link active" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                        </ul> -->
                        <!-- Pagination -->
                        <ul class="pagination">
                            <li
                                    th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
                                <a class="page-link" th:href="@{/blog}">First</a>
                            </li>
                            <li
                                    th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
                                <a class="page-link" aria-label="Previous"
                                   th:href="@{|${baseUrl}${currentIndex - 1}|}"
                                   title='Go to previous page'><span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span></a>
                            </li>
                            <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                                th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
                                <a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
                                        th:text='${item}'>1</span>
                                </a>
                            </li>
                            <li
                                    th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
                                <a class="page-link" aria-label="Next"
                                   th:href="@{|${baseUrl}${currentIndex + 1}|}" title='Go to next page'><span
                                        aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
                            </li>
                            <li
                                    th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
                                <a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ##### Blog Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer th:replace="layout :: footer"></footer>
<!-- ##### Footer Area End ##### -->

<div th:replace="layout :: js"></div>
</body>
</html>