<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head"></head>
<head><title> HOME</title></head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="south-load"></div>
</div>
<!-- ##### Header Area Start ##### -->
<header th:replace="layout :: header"></header>
<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
<section th:replace="layout :: hero_area"></section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Advance Search Area Start ##### -->
<div class="south-search-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="advanced-search-form">
                    <!-- Search Title -->
                    <div class="search-title">
                        <p>Hãy tìm căn phòng của bạn</p>
                    </div>
                    <!-- Search Form -->
                    <form action="#" method="post" id="advanceSearch">
                        <div class="row">

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <input type="input" class="form-control" name="input" placeholder="Từ khóa">
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <select class="form-control" id="cities">
                                        <option>Giá phòng</option>
                                        <option><1.000.0000 đ</option>
                                        <option>1.000.000-2.000.000 đ</option>
                                        <option>2.000.000-3.000.000 đ</option>
                                        <option>3.000.000-5.000.000 đ</option>
                                        <option>>5.000.000</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <select class="form-control" id="catagories">
                                        <option>Diện tích</option>
                                        <option><15m2</option>
                                        <option>15-25m2</option>
                                        <option>>25m2</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <select class="form-control" id="offers">
                                        <option>Giảm giá</option>
                                        <option>40% OFF</option>
                                        <option>30% OFF</option>
                                        <option>20 OFF</option>
                                        <option>10% OFF</option>
                                    </select>
                                </div>
                            </div>

                            <!--<div class="col-12 col-md-4 col-xl-3">-->
                                <!--<div class="form-group">-->
                                    <!--<select class="form-control" id="listings">-->
                                        <!--<option>All Listings</option>-->
                                        <!--<option>Listings 1</option>-->
                                        <!--<option>Listings 2</option>-->
                                        <!--<option>Listings 3</option>-->
                                        <!--<option>Listings 4</option>-->
                                        <!--<option>Listings 5</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class=" col-md-5 ">
                                <div class="form-group">
                                    <select class="form-control" id="bedrooms">
                                        <option>Số phòng ngủ</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3+</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <select class="form-control" id="bathrooms">
                                        <option>Số phòng tắm</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3+</option>

                                    </select>
                                </div>
                            </div>

                            <!--<div class="col-12 col-md-8 col-lg-12 col-xl-5 d-flex">-->
                                <!--&lt;!&ndash; Space Range &ndash;&gt;-->
                                <!--<div class="slider-range">-->
                                    <!--<div data-min="120" data-max="820" data-unit=" sq. ft"-->
                                         <!--class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"-->
                                         <!--data-value-min="120" data-value-max="820">-->
                                        <!--<div class="ui-slider-range ui-widget-header ui-corner-all"></div>-->
                                        <!--<span class="ui-slider-handle ui-state-default ui-corner-all"-->
                                              <!--tabindex="0"></span>-->
                                        <!--<span class="ui-slider-handle ui-state-default ui-corner-all"-->
                                              <!--tabindex="0"></span>-->
                                    <!--</div>-->
                                    <!--<div class="range">120 sq. ft - 820 sq. ft</div>-->
                                <!--</div>-->

                                <!--&lt;!&ndash; Distance Range &ndash;&gt;-->
                                <!--<div class="slider-range">-->
                                    <!--<div data-min="10" data-max="1300" data-unit=" mil"-->
                                         <!--class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"-->
                                         <!--data-value-min="10" data-value-max="1300">-->
                                        <!--<div class="ui-slider-range ui-widget-header ui-corner-all"></div>-->
                                        <!--<span class="ui-slider-handle ui-state-default ui-corner-all"-->
                                              <!--tabindex="0"></span>-->
                                        <!--<span class="ui-slider-handle ui-state-default ui-corner-all"-->
                                              <!--tabindex="0"></span>-->
                                    <!--</div>-->
                                    <!--<div class="range">10 mil - 1300 mil</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="col-12 search-form-second-steps">-->
                                <!--<div class="row">-->

                                    <!--<div class="col-12 col-md-4 col-lg-3">-->
                                        <!--<div class="form-group">-->
                                            <!--<select class="form-control" id="types">-->
                                                <!--<option>All Types</option>-->
                                                <!--<option>Apartment <span>(30)</span></option>-->
                                                <!--<option>Land <span>(69)</span></option>-->
                                                <!--<option>Villas <span>(103)</span></option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-12 col-md-4 col-lg-3">-->
                                        <!--<div class="form-group">-->
                                            <!--<select class="form-control" id="catagories2">-->
                                                <!--<option>All Catagories</option>-->
                                                <!--<option>Apartment</option>-->
                                                <!--<option>Bar</option>-->
                                                <!--<option>Farm</option>-->
                                                <!--<option>House</option>-->
                                                <!--<option>Store</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-12 col-md-4 col-lg-3">-->
                                        <!--<div class="form-group">-->
                                            <!--<select class="form-control" id="Actions">-->
                                                <!--<option>All Actions</option>-->
                                                <!--<option>Sales</option>-->
                                                <!--<option>Booking</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-12 col-md-4 col-lg-3">-->
                                        <!--<div class="form-group">-->
                                            <!--<select class="form-control" id="city2">-->
                                                <!--<option>All City</option>-->
                                                <!--<option>City 1</option>-->
                                                <!--<option>City 2</option>-->
                                                <!--<option>City 3</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-12 col-md-4">-->
                                        <!--<div class="form-group">-->
                                            <!--<select class="form-control" id="Actions3">-->
                                                <!--<option>All Actions</option>-->
                                                <!--<option>Sales</option>-->
                                                <!--<option>Booking</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-12 col-md-4">-->
                                        <!--<div class="form-group">-->
                                            <!--<select class="form-control" id="city3">-->
                                                <!--<option>All City</option>-->
                                                <!--<option>City 1</option>-->
                                                <!--<option>City 2</option>-->
                                                <!--<option>City 3</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-12 col-md-4">-->
                                        <!--<div class="form-group">-->
                                            <!--<select class="form-control" id="city5">-->
                                                <!--<option>All City</option>-->
                                                <!--<option>City 1</option>-->
                                                <!--<option>City 2</option>-->
                                                <!--<option>City 3</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="col-12 d-flex justify-content-between align-items-end">-->
                                <!--&lt;!&ndash; More Filter &ndash;&gt;-->
                                <!--<div class="more-filter">-->
                                    <!--<a href="#" id="moreFilter">+ More filters</a>-->
                                <!--</div>-->
                                <!-- Submit -->
                                <div class="form-group mb-0">
                                    <button type="submit" class="btn south-btn">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Advance Search Area End ##### -->

<!-- ##### Featured Properties Area Start ##### -->
<section class="featured-properties-area section-padding-100-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading wow fadeInUp">
                    <h2>Featured Properties</h2>
                    <p>Hãy xem chúng tôi có gì cho bạn !</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="listings-top-meta d-flex justify-content-between mb-100">
                    <div class="view-area d-flex align-items-center">
                        <span>View as:</span>
                        <div class="grid_view ml-15"><a href="#" class="active"><i class="fa fa-th" aria-hidden="true"></i></a></div>
                        <div class="list_view ml-15"><a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="order-by-area d-flex align-items-center">
                        <span class="mr-15">Xắp xếp theo</span>
                        <select>
                            <option selected>Mặc định</option>
                            <option value="1">Giá</option>
                            <option value="2">Giảm giá</option>
                            <option value="3">Diện tích</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Featured Property -->
            <div  th:each="room : ${rooms}" class="col-12 col-md-6 col-xl-4">
                <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Property Thumbnail -->
                    <div class="property-thumb">
                        <img th:src="${room.image}" alt="">

                        <div class="tag" >
                            <span th:if="${room.isSaled} == '1'">For Sale</span>
                        </div>
                        <div class="list-price">
                            <p th:utext="${room.price} + VNĐ"></p>
                        </div>
                    </div>
                    <!-- Property Content -->
                    <div class="property-content">
                        <h5 th:utext="${room.name}"></h5>
                        <p class="location"><img src="/images/icons/floor.png" alt=""> Tầng <span th:utext="${room.floor}"></span></p>
                        <p th:utext="${room.description}"></p>
                        <div class="property-meta-data d-flex align-items-end justify-content-between">
                            <div class="new-tag">
                                <img src="/images/icons/people.png" alt="" >
                                <span th:utext="${room.recommend}"></span>
                            </div>
                            <div class="bathroom">
                                <img src="/images/icons/bathtub.png" alt="">
                                <span th:utext="${room.bathroom}"></span>
                            </div>
                            <div class="garage">
                                <img src="/images/icons/window.png" alt="">
                                <span th:utext="${room.window}"></span>
                            </div>
                            <div class="space">
                                <img src="/images/icons/square.png" alt="">
                                <span th:utext="${room.square} + m2"></span>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success" style="float:left;">Xem thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Featured Properties Area End ##### -->

<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js"></div>
</body>
</html>