<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head"></head>
<head><title> HOME | BLOG </title></head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="south-load"></div>
</div>
<!-- ##### Header Area Start ##### -->
<header th:replace="layout :: header"></header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section th:replace="layout :: Breadcumb"></section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer th:replace="layout :: footer"></footer>
<!-- ##### Footer Area End ##### -->

<div th:replace="layout :: js"></div>
</body>

</html>
